@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");
.cardContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  z-index: 10; }

.card2 {
  display: inline-block;
  background: white;
  padding: 45px;
  color: #00493f;
  margin: 50px;
  width: 570px;
  min-height: 400px; }
  .card2 h1 {
    font-size: 29px;
    font-weight: 400;
    margin: 0;
    line-height: .8; }
  .card2 p {
    margin: 10px 0;
    font-size: 1.2rem;
    line-height: 1.6; }
  .card2 ul li {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-left: 1.6rem; }
  .card2 .download {
    display: inline-block;
    border: 1px solid black;
    padding: 6px 16px;
    margin-top: 2rem;
    margin-bottom: 10px;
    transition: all .2s ease; }
  .card2 .github {
    text-decoration: underline; }
  .card2 .getintouch {
    margin-bottom: 0;
    text-decoration: underline; }

@media only screen and (max-width: 530px) {
  .card2 {
    margin: 20px;
    padding: 25px; } }

.download:hover {
  -ms-transform: translateY(-4px);
      transform: translateY(-4px);
  background: #498e92;
  color: white; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  overflow: hidden; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'IBM Plex Mono', monospace;
  color: #001a1a;
  background: url(../kelp-bcg.jpg) no-repeat center center fixed;
  background-size: cover; }

.strand {
  position: absolute;
  width: 170px;
  bottom: 0px;
  overflow: hidden; }

.first {
  color: #003131;
  height: 95vh;
  left: -40px; }

.second {
  color: #006345;
  height: 100vh;
  left: 90px; }

.third {
  color: #009e6f;
  height: 90vh;
  left: 220px;
  bottom: 0; }

.fourth {
  color: #002200;
  height: 100vh;
  left: 350px; }

.fifth {
  color: #006345;
  height: 85vh;
  left: 490px; }

.sixth {
  color: #002200;
  height: 95vh;
  left: 620px; }

.seventh {
  color: #002200;
  height: 100vh;
  left: 750px; }

.eighth {
  color: #006345;
  height: 80vh;
  left: 880px; }

.ninth {
  color: #002200;
  height: 100vh;
  left: 1010px; }

.tenth {
  color: #002200;
  height: 95vh;
  left: 1140px; }

.eleventh {
  color: #006345;
  height: 100vh;
  left: 1260px; }

.strand ul {
  color: #002424;
  opacity: .9;
  list-style: none;
  text-align: center;
  font-size: 14px;
  line-height: .6; }

.strand li {
  position: absolute;
  -ms-transform: translateY(105vh);
      transform: translateY(105vh); }

.first li {
  animation: 10.66667s spiral-staircase3 linear infinite; }

.second li {
  animation: 10.66667s spiral-staircase3 linear infinite; }

.third li {
  animation: 10.66667s spiral-staircase3 linear infinite; }

.fourth li {
  animation: 10.66667s spiral-staircase3 linear infinite; }

.fifth li {
  animation: 10.66667s spiral-staircase3 linear infinite; }

.sixth li {
  animation: 10.66667s spiral-staircase3 linear infinite; }

.seventh li {
  animation: 10.66667s spiral-staircase3 linear infinite; }

.eighth li {
  animation: 10.66667s spiral-staircase3 linear infinite; }

.ninth li {
  animation: 10.66667s spiral-staircase3 linear infinite; }

.tenth li {
  animation: 10.66667s spiral-staircase3 linear infinite; }

.eleventh li {
  animation: 10.66667s spiral-staircase3 linear infinite; }

li:nth-child(1) {
  animation-delay: -6.33333s; }

li:nth-child(2) {
  animation-delay: -6.66667s; }

li:nth-child(3) {
  animation-delay: -7s; }

li:nth-child(4) {
  animation-delay: -7.33333s; }

li:nth-child(5) {
  animation-delay: -7.66667s; }

li:nth-child(6) {
  animation-delay: -8s; }

li:nth-child(7) {
  animation-delay: -8.33333s; }

li:nth-child(8) {
  animation-delay: -8.66667s; }

li:nth-child(9) {
  animation-delay: -9s; }

li:nth-child(10) {
  animation-delay: -9.33333s; }

li:nth-child(11) {
  animation-delay: -9.66667s; }

li:nth-child(12) {
  animation-delay: -10s; }

li:nth-child(13) {
  animation-delay: -10.33333s; }

li:nth-child(14) {
  animation-delay: -10.66667s; }

li:nth-child(15) {
  animation-delay: -11s; }

li:nth-child(16) {
  animation-delay: -11.33333s; }

li:nth-child(17) {
  animation-delay: -11.66667s; }

li:nth-child(18) {
  animation-delay: -12s; }

li:nth-child(19) {
  animation-delay: -12.33333s; }

li:nth-child(20) {
  animation-delay: -12.66667s; }

li:nth-child(21) {
  animation-delay: -13s; }

li:nth-child(22) {
  animation-delay: -13.33333s; }

li:nth-child(23) {
  animation-delay: -13.66667s; }

li:nth-child(24) {
  animation-delay: -14s; }

li:nth-child(25) {
  animation-delay: -14.33333s; }

li:nth-child(26) {
  animation-delay: -14.66667s; }

li:nth-child(27) {
  animation-delay: -15s; }

li:nth-child(28) {
  animation-delay: -15.33333s; }

li:nth-child(29) {
  animation-delay: -15.66667s; }

li:nth-child(30) {
  animation-delay: -16s; }

li:nth-child(31) {
  animation-delay: -16.33333s; }

li:nth-child(32) {
  animation-delay: -16.66667s; }

li:nth-child(1) {
  right: 6px; }

li:nth-last-child(1) {
  right: 6px; }

li:nth-child(2) {
  right: 12px; }

li:nth-last-child(2) {
  right: 12px; }

li:nth-child(3) {
  right: 18px; }

li:nth-last-child(3) {
  right: 18px; }

li:nth-child(4) {
  right: 24px; }

li:nth-last-child(4) {
  right: 24px; }

li:nth-child(5) {
  right: 30px; }

li:nth-last-child(5) {
  right: 30px; }

li:nth-child(6) {
  right: 36px; }

li:nth-last-child(6) {
  right: 36px; }

li:nth-child(7) {
  right: 42px; }

li:nth-last-child(7) {
  right: 42px; }

li:nth-child(8) {
  right: 48px; }

li:nth-last-child(8) {
  right: 48px; }

li:nth-child(9) {
  right: 54px; }

li:nth-last-child(9) {
  right: 54px; }

li:nth-child(10) {
  right: 60px; }

li:nth-last-child(10) {
  right: 60px; }

li:nth-child(11) {
  right: 66px; }

li:nth-last-child(11) {
  right: 66px; }

li:nth-child(12) {
  right: 72px; }

li:nth-last-child(12) {
  right: 72px; }

li:nth-child(13) {
  right: 78px; }

li:nth-last-child(13) {
  right: 78px; }

li:nth-child(14) {
  right: 84px; }

li:nth-last-child(14) {
  right: 84px; }

li:nth-child(15) {
  right: 90px; }

li:nth-last-child(15) {
  right: 90px; }

li:nth-child(16) {
  right: 96px; }

li:nth-last-child(16) {
  right: 96px; }

@keyframes spiral-staircase3 {
  0% {
    transform: rotateY(290deg) translateY(105vh); }
  100% {
    transform: rotateY(-290deg) translateY(-5vh); } }
