@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'IBM Plex Mono', monospace;
  color: #001a1a;
  background: url(../kelp-bcg.jpg) no-repeat center center fixed;
  background-size: cover; }

.outer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.wrapper {
  width: 80%; }

.strand {
  position: absolute; }

.first {
  left: 140px; }

.second {
  left: 240px; }

.third {
  left: 380px; }

.fourth {
  left: 450px; }

.fifth {
  left: 570px; }

.sixth {
  left: 700px; }

.seventh {
  left: 850px; }

.eighth {
  left: 950px; }

.ninth {
  left: 1050px; }

.tenth {
  left: 1180px; }

.eleventh {
  left: 1350px; }

ul {
  opacity: .8;
  list-style: none;
  text-align: center;
  font-size: 14px;
  line-height: .6; }

li {
  position: absolute;
  -ms-transform: translateY(105vh);
      transform: translateY(105vh); }

.first li {
  animation: 10.66667s spiral-staircase8 linear infinite; }

.second li {
  animation: 10.66667s spiral-staircase6 linear infinite; }

.third li {
  animation: 10.66667s spiral-staircase5 linear infinite; }

.fourth li {
  animation: 10.66667s spiral-staircase7 linear infinite; }

.fifth li {
  animation: 10.66667s spiral-staircase5 linear infinite; }

.sixth li {
  animation: 10.66667s spiral-staircase6 linear infinite; }

.seventh li {
  animation: 10.66667s spiral-staircase7 linear infinite; }

.eighth li {
  animation: 10.66667s spiral-staircase8 linear infinite; }

.ninth li {
  animation: 10.66667s spiral-staircase5 linear infinite; }

.tenth li {
  animation: 10.66667s spiral-staircase3 linear infinite; }

.eleventh li {
  animation: 10.66667s spiral-staircase8 linear infinite; }

li:nth-child(1) {
  animation-delay: 0.33333s; }

li:nth-child(2) {
  animation-delay: 0.66667s; }

li:nth-child(3) {
  animation-delay: 1s; }

li:nth-child(4) {
  animation-delay: 1.33333s; }

li:nth-child(5) {
  animation-delay: 1.66667s; }

li:nth-child(6) {
  animation-delay: 2s; }

li:nth-child(7) {
  animation-delay: 2.33333s; }

li:nth-child(8) {
  animation-delay: 2.66667s; }

li:nth-child(9) {
  animation-delay: 3s; }

li:nth-child(10) {
  animation-delay: 3.33333s; }

li:nth-child(11) {
  animation-delay: 3.66667s; }

li:nth-child(12) {
  animation-delay: 4s; }

li:nth-child(13) {
  animation-delay: 4.33333s; }

li:nth-child(14) {
  animation-delay: 4.66667s; }

li:nth-child(15) {
  animation-delay: 5s; }

li:nth-child(16) {
  animation-delay: 5.33333s; }

li:nth-child(17) {
  animation-delay: 5.66667s; }

li:nth-child(18) {
  animation-delay: 6s; }

li:nth-child(19) {
  animation-delay: 6.33333s; }

li:nth-child(20) {
  animation-delay: 6.66667s; }

li:nth-child(21) {
  animation-delay: 7s; }

li:nth-child(22) {
  animation-delay: 7.33333s; }

li:nth-child(23) {
  animation-delay: 7.66667s; }

li:nth-child(24) {
  animation-delay: 8s; }

li:nth-child(25) {
  animation-delay: 8.33333s; }

li:nth-child(26) {
  animation-delay: 8.66667s; }

li:nth-child(27) {
  animation-delay: 9s; }

li:nth-child(28) {
  animation-delay: 9.33333s; }

li:nth-child(29) {
  animation-delay: 9.66667s; }

li:nth-child(30) {
  animation-delay: 10s; }

li:nth-child(31) {
  animation-delay: 10.33333s; }

li:nth-child(32) {
  animation-delay: 10.66667s; }

li:nth-child(1) {
  right: 6px; }

li:nth-last-child(1) {
  right: 6px; }

li:nth-child(2) {
  right: 12px; }

li:nth-last-child(2) {
  right: 12px; }

li:nth-child(3) {
  right: 18px; }

li:nth-last-child(3) {
  right: 18px; }

li:nth-child(4) {
  right: 24px; }

li:nth-last-child(4) {
  right: 24px; }

li:nth-child(5) {
  right: 30px; }

li:nth-last-child(5) {
  right: 30px; }

li:nth-child(6) {
  right: 36px; }

li:nth-last-child(6) {
  right: 36px; }

li:nth-child(7) {
  right: 42px; }

li:nth-last-child(7) {
  right: 42px; }

li:nth-child(8) {
  right: 48px; }

li:nth-last-child(8) {
  right: 48px; }

li:nth-child(9) {
  right: 54px; }

li:nth-last-child(9) {
  right: 54px; }

li:nth-child(10) {
  right: 60px; }

li:nth-last-child(10) {
  right: 60px; }

li:nth-child(11) {
  right: 66px; }

li:nth-last-child(11) {
  right: 66px; }

li:nth-child(12) {
  right: 72px; }

li:nth-last-child(12) {
  right: 72px; }

li:nth-child(13) {
  right: 78px; }

li:nth-last-child(13) {
  right: 78px; }

li:nth-child(14) {
  right: 84px; }

li:nth-last-child(14) {
  right: 84px; }

li:nth-child(15) {
  right: 90px; }

li:nth-last-child(15) {
  right: 90px; }

li:nth-child(16) {
  right: 96px; }

li:nth-last-child(16) {
  right: 96px; }

@keyframes spiral-staircase1 {
  0% {
    transform: rotateY(150deg) translateY(105vh); }
  100% {
    transform: rotateY(-150deg) translateY(-5vh); } }

@keyframes spiral-staircase2 {
  0% {
    transform: rotateY(180deg) translateY(105vh); }
  100% {
    transform: rotateY(-180deg) translateY(-5vh); } }

@keyframes spiral-staircase4 {
  0% {
    transform: rotateY(210deg) translateY(105vh); }
  100% {
    transform: rotateY(-210deg) translateY(-5vh); } }

@keyframes spiral-staircase8 {
  0% {
    transform: rotateY(240deg) translateY(105vh); }
  100% {
    transform: rotateY(-240deg) translateY(-5vh); } }

@keyframes spiral-staircase6 {
  0% {
    transform: rotateY(270deg) translateY(105vh); }
  100% {
    transform: rotateY(-270deg) translateY(-5vh); } }

@keyframes spiral-staircase3 {
  0% {
    transform: rotateY(300deg) translateY(105vh); }
  100% {
    transform: rotateY(-300deg) translateY(-5vh); } }

@keyframes spiral-staircase7 {
  0% {
    transform: rotateY(330deg) translateY(105vh); }
  100% {
    transform: rotateY(-330deg) translateY(-5vh); } }

@keyframes spiral-staircase5 {
  0% {
    transform: rotateY(360deg) translateY(105vh); }
  100% {
    transform: rotateY(-360deg) translateY(-5vh); } }
